importFrom('stats', 'pnorm', 'qnorm', 'dnorm', 'rnorm',
           'dpois', 'qpois', 'dunif', 'dlnorm', 'qlnorm', 'dexp', 'qexp', 'dbinom',
           'quantile', 'pt', 'qt', "dt", 'pf', 'qf', 'df',
           'pchisq', 'dchisq', 'qchisq',
           'uniroot', 'integrate')
importFrom("graphics", "plot", "abline", "points", "legend", "layout", "polygon", "title", "par",
           "axis", "box", "lines", "plot.new", "plot.window", "segments", "text")
importFrom("grDevices", "adjustcolor", "dev.size")

S3method(plot, pwrss)
export(pwrss.z.prop)
export(pwrss.z.2props)
export(pwrss.z.mean)
export(pwrss.t.mean)
export(pwrss.z.2means)
export(pwrss.t.2means)
export(pwrss.np.2means)
export(pwrss.z.corr)
export(pwrss.z.2corrs)
export(pwrss.z.med)
export(pwrss.z.mediation)
export(pwrss.z.reg)
export(pwrss.z.regression)
export(pwrss.z.logreg)
export(pwrss.z.logistic)
export(pwrss.z.poisreg)
export(pwrss.z.poisson)
export(pwrss.t.reg)
export(pwrss.t.regression)
export(pwrss.f.reg)
export(pwrss.f.regression)
export(pwrss.f.ancova)
export(pwrss.f.rmanova)
export(pwrss.chisq.gofit)
export(power.t.test)
export(power.z.test)
export(power.f.test)
export(power.chisq.test)
