importFrom("stats", 'pnorm', 'qnorm', 'dnorm', 'rnorm', 'quantile', 'pt', 'qt', "dt", 'pf', 'qf', "df", "uniroot")
importFrom("graphics", "plot", "abline", "points", "legend", "layout", "polygon", "title", "par",
           "axis", "box", "lines", "plot.new", "plot.window")
importFrom("grDevices", "adjustcolor")

S3method(plot, pwrss)
export(pwrss.z.prop)
export(pwrss.z.2props)
export(pwrss.z.mean)
export(pwrss.z.2means)
export(pwrss.t.2means)
export(pwrss.z.corr)
export(pwrss.z.2corrs)
export(pwrss.z.med)
export(pwrss.z.reg)
export(pwrss.t.reg)
export(pwrss.f.reg)
export(pwrss.f.ancova)
export(pwrss.f.rmanova)
export(power.t.test)
export(power.z.test)
export(power.f.test)
